.mf-mm {
    position: relative;
    display: flex;
    height: 100%;

    .mf-mm-inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            margin-top: 10px;
            color: #000;
            text-decoration: none;

            &.current {
                background: #ccc;
            }

            &:hover {
                background: #eee;
            }

            .mf-mm-icon {
                height: 100%;
                width: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            .my-label {
                white-space: nowrap;
                margin-left: 12px;
                width: 282px;
                text-align: left;
            }
        }
    }
}